<a href="https://colab.research.google.com/github/MariaZharova/test_rec_systems/blob/main/Compare_LightFM_and_Microsoft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install lightfm recommenders scrapbook

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lightfm
  Downloading lightfm-1.16.tar.gz (310 kB)
     |████████████████████████████████| 310 kB 7.4 MB/s
Collecting recommenders
  Downloading recommenders-1.1.0-py3-none-manylinux1_x86_64.whl (335 kB)
     |████████████████████████████████| 335 kB 56.7 MB/s
Collecting scrapbook
  Downloading scrapbook-0.5.0-py3-none-any.whl (34 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.21.6)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.7.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.0.2)
Requirement already satisfied: pandas<2,>1.0.3 in /usr/local/lib/python3.7/dist-packages (from recommenders) (1.3.5)
Collecting scikit-surprise>=1.0.6
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 32.7 MB/s
Requirement already satisfied: nltk<4,>=3.4 in /usr/local/lib/python3.7/dist-packages (from recommenders) (3.7)
Collecting cornac<2,>=1.1.2
  Downloading cornac-1.14.2-cp37-cp37m-manylinux1_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 26.5 MB/s
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 61.1 MB/s
Requirement already satisfied: seaborn<1,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from recommenders) (0.11.2)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Collecting transformers<5,>=2.5.0
  Downloading transformers-4.20.1-py3-none-any.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 50.2 MB/s
Requirement already satisfied: lightgbm>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from recommenders) (2.2.3)
Collecting bottleneck<2,>=1.2.1
  Downloading Bottleneck-1.3.5-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (355 kB)
     |████████████████████████████████| 355 kB 71.9 MB/s
Collecting memory-profiler<1,>=0.54.0
  Downloading memory_profiler-0.60.0.tar.gz (38 kB)
Requirement already satisfied: jinja2<3.1,>=2 in /usr/local/lib/python3.7/dist-packages (from recommenders) (2.11.3)
Collecting pandera[strategies]>=0.6.5
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 71.6 MB/s
Requirement already satisfied: numba<1,>=0.38.1 in /usr/local/lib/python3.7/dist-packages (from recommenders) (0.51.2)
Requirement already satisfied: tqdm<5,>=4.31.1 in /usr/local/lib/python3.7/dist-packages (from recommenders) (4.64.0)
Requirement already satisfied: matplotlib<4,>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from recommenders) (3.2.2)
Collecting category-encoders<2,>=1.3.0
  Downloading category_encoders-1.3.0-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 10.4 MB/s
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders<2,>=1.3.0->recommenders) (0.5.2)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders<2,>=1.3.0->recommenders) (0.10.2)
Collecting powerlaw
  Downloading powerlaw-1.5-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2<3.1,>=2->recommenders) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders) (1.4.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib<4,>=2.2.2->recommenders) (4.1.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from memory-profiler<1,>=0.54.0->recommenders) (5.4.8)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders) (1.1.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba<1,>=0.38.1->recommenders) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba<1,>=0.38.1->recommenders) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>1.0.3->recommenders) (2022.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera[strategies]>=0.6.5->recommenders) (1.14.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera[strategies]>=0.6.5->recommenders) (21.3)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera[strategies]>=0.6.5->recommenders) (1.8.2)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera[strategies]>=0.6.5->recommenders) (6.0.1)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Collecting hypothesis>=5.41.1
  Downloading hypothesis-6.50.1-py3-none-any.whl (388 kB)
     |████████████████████████████████| 388 kB 54.9 MB/s
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from hypothesis>=5.41.1->pandera[strategies]>=0.6.5->recommenders) (21.4.0)
Requirement already satisfied: sortedcontainers<3.0.0,>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from hypothesis>=5.41.1->pandera[strategies]>=0.6.5->recommenders) (2.4.0)
Collecting exceptiongroup>=1.0.0rc8
  Downloading exceptiongroup-1.0.0rc8-py3-none-any.whl (11 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.4.1->category-encoders<2,>=1.3.0->recommenders) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (3.1.0)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 59.1 MB/s
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders) (4.12.0)
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.8.1-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 14.0 MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders) (3.7.1)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.7/dist-packages (from scrapbook) (4.3.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from scrapbook) (5.5.0)
Collecting papermill
  Downloading papermill-2.3.4-py3-none-any.whl (37 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers<5,>=2.5.0->recommenders) (3.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->scrapbook) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->scrapbook) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->scrapbook) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->scrapbook) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->scrapbook) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->scrapbook) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->scrapbook) (1.0.18)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->scrapbook) (0.2.5)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema->scrapbook) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema->scrapbook) (5.8.0)
Requirement already satisfied: nbformat>=5.1.2 in /usr/local/lib/python3.7/dist-packages (from papermill->scrapbook) (5.4.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from papermill->scrapbook) (0.4)
Requirement already satisfied: tenacity in /usr/local/lib/python3.7/dist-packages (from papermill->scrapbook) (8.0.1)
Collecting ansiwrap
  Downloading ansiwrap-0.8.4-py2.py3-none-any.whl (8.5 kB)
Requirement already satisfied: nbclient>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from papermill->scrapbook) (0.6.6)
Collecting traitlets>=4.2
  Downloading traitlets-5.3.0-py3-none-any.whl (106 kB)
     |████████████████████████████████| 106 kB 50.9 MB/s
Collecting jupyter-client>=6.1.5
  Downloading jupyter_client-7.3.4-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 80.7 MB/s
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from nbclient>=0.2.0->papermill->scrapbook) (1.5.5)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.5->nbclient>=0.2.0->papermill->scrapbook) (4.11.1)
Collecting tornado>=6.0
  Downloading tornado-6.2-cp37-abi3-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (423 kB)
     |████████████████████████████████| 423 kB 62.1 MB/s
Requirement already satisfied: pyzmq>=23.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.5->nbclient>=0.2.0->papermill->scrapbook) (23.2.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=5.1.2->papermill->scrapbook) (2.15.3)
Collecting textwrap3>=0.9.2
  Downloading textwrap3-0.9.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->scrapbook) (0.7.0)
Requirement already satisfied: mpmath in /usr/local/lib/python3.7/dist-packages (from powerlaw->cornac<2,>=1.1.2->recommenders) (1.2.1)
Building wheels for collected packages: lightfm, memory-profiler, retrying, scikit-surprise
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp37-cp37m-linux_x86_64.whl size=705365 sha256=12f83d91cfdbe3c5f4bb12c39f2b19e75681af8ccae58abbad26bdb7467214a4
  Stored in directory: /root/.cache/pip/wheels/f8/56/28/5772a3bd3413d65f03aa452190b00898b680b10028a1021914
  Building wheel for memory-profiler (setup.py) ... done
  Created wheel for memory-profiler: filename=memory_profiler-0.60.0-py3-none-any.whl size=31284 sha256=9ca8a9703ee8555f1aaa04e6b0e0ff01372fee89c4733aab04de5cc4dce214da
  Stored in directory: /root/.cache/pip/wheels/67/2b/fb/326e30d638c538e69a5eb0aa47f4223d979f502bbdb403950f
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11447 sha256=3efb98c5d162923ae02432f748dcaaf1f7278c4b81a8588954df407a76ff30af
  Stored in directory: /root/.cache/pip/wheels/f9/8d/8d/f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633733 sha256=b8abefe289abd6a9984572280d20e11d4d25c0fbd4ea6d366aa84928bb905704
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built lightfm memory-profiler retrying scikit-surprise
Installing collected packages: traitlets, tornado, mypy-extensions, typing-inspect, textwrap3, pyyaml, jupyter-client, exceptiongroup, tokenizers, powerlaw, pandera, hypothesis, huggingface-hub, ansiwrap, transformers, scikit-surprise, retrying, papermill, memory-profiler, lightfm, cornac, category-encoders, bottleneck, scrapbook, recommenders
  Attempting uninstall: traitlets
    Found existing installation: traitlets 5.1.1
    Uninstalling traitlets-5.1.1:
      Successfully uninstalled traitlets-5.1.1
  Attempting uninstall: tornado
    Found existing installation: tornado 5.1.1
    Uninstalling tornado-5.1.1:
      Successfully uninstalled tornado-5.1.1
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter-client 5.3.5
    Uninstalling jupyter-client-5.3.5:
      Successfully uninstalled jupyter-client-5.3.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires tornado~=5.1.0; python_version >= "3.0", but you have tornado 6.2 which is incompatible.
Successfully installed ansiwrap-0.8.4 bottleneck-1.3.5 category-encoders-1.3.0 cornac-1.14.2 exceptiongroup-1.0.0rc8 huggingface-hub-0.8.1 hypothesis-6.50.1 jupyter-client-7.3.4 lightfm-1.16 memory-profiler-0.60.0 mypy-extensions-0.4.3 pandera-0.9.0 papermill-2.3.4 powerlaw-1.5 pyyaml-5.4.1 recommenders-1.1.0 retrying-1.3.3 scikit-surprise-1.1.1 scrapbook-0.5.0 textwrap3-0.9.2 tokenizers-0.12.1 tornado-6.2 traitlets-5.3.0 transformers-4.20.1 typing-inspect-0.7.1

In [3]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from lightfm import LightFM
from lightfm.evaluation import precision_at_k
from scipy.sparse import csr_matrix

In [6]:
import re
import sys
import os
import scrapbook as sb
from tempfile import TemporaryDirectory
import numpy as np
import pandas as pd 

from collections import defaultdict
import tensorflow as tf
tf.get_logger().setLevel('ERROR') # only show error messages

from recommenders.utils.timer import Timer
from recommenders.datasets.split_utils import filter_k_core

# Transformer Based Models
from recommenders.models.sasrec.model import SASREC
from recommenders.models.sasrec.ssept import SSEPT

# Sampler for sequential prediction
from recommenders.models.sasrec.sampler import WarpSampler
from recommenders.models.sasrec.util import SASRecDataSet

# Evaluation
from recommenders.evaluation.python_evaluation import precision_at_k

In [7]:
data = pd.read_csv('./drive/MyDrive/ML/clicks_cleared.csv')
print(data.shape)
data = data.drop_duplicates()
print(data.shape)
data.head()

(2040489, 11)
(2040489, 11)

,Unnamed: 0,timestamp,hit_id,uid,platform,event_name,screen,offer_id,ptn_dadd,id,geo
0,0,2022-06-29 01:59:29,e4ae2d7f9eab4cb7,87603527,android,OpenOfferScreen,FavoritesScreen,274235341,2022-06-29,274235341,2
1,1,2022-06-29 01:59:29,e4ae2d7f9eab4cb7,87603527,android,OpenOfferScreen,FavoritesScreen,274235341,2022-06-29,274235341,2
2,2,2022-06-29 01:59:29,e4ae2d7f9eab4cb7,87603527,android,OpenOfferScreen,FavoritesScreen,274235341,2022-06-29,274235341,2
3,3,2022-06-28 23:45:45,1ff927e168b94e02,87603527,android,OpenOfferScreen,RecommendationsScreen,274235341,2022-06-29,274235341,2
4,4,2022-06-28 23:45:45,1ff927e168b94e02,87603527,android,OpenOfferScreen,RecommendationsScreen,274235341,2022-06-29,274235341,2

### Prepare data

In [8]:
# take users that have >5 clicks
offer_ids = data['offer_id'].value_counts()[data['offer_id'].value_counts() > 5].index
data = data[data['offer_id'].isin(offer_ids)]
uids = data['uid'].value_counts()[data['uid'].value_counts() > 5].index
data = data[data['uid'].isin(uids)]

In [9]:
# add action column
data['action'] = 1

# encode, start with 0
offer_encoder = {off: ind for ind, off in enumerate(data['offer_id'].unique())}
data['offer_id_enc'] = data['offer_id'].map(offer_encoder)
uid_encoder = {uid: ind for ind, uid in enumerate(data['uid'].unique())}
data['uid_enc'] = data['uid'].map(uid_encoder)

In [10]:
#data_grouped = data.groupby(by=['uid_enc', 'offer_id_enc', 'timestamp']).count().reset_index()
#data_grouped.head()

In [11]:
# sort by time
data['timestamp'] = pd.to_datetime(data['timestamp'])
data.sort_values(by='timestamp', inplace=True)
print(data.shape)
data.head(10)

(1976192, 14)

,Unnamed: 0,timestamp,hit_id,uid,platform,event_name,screen,offer_id,ptn_dadd,id,geo,action,offer_id_enc,uid_enc
834749,834749,2022-06-27 21:00:00,2241fefec0494315,398271fb-efcf-4875-bce8-69e550e89b36,android,OpenOfferScreen,MapScreen,272813805,2022-06-28,272813805,2,1,9296,4959
834750,834750,2022-06-27 21:00:00,2241fefec0494315,398271fb-efcf-4875-bce8-69e550e89b36,android,OpenOfferScreen,MapScreen,272813805,2022-06-28,272813805,2,1,9296,4959
834748,834748,2022-06-27 21:00:00,2241fefec0494315,398271fb-efcf-4875-bce8-69e550e89b36,android,OpenOfferScreen,MapScreen,272813805,2022-06-28,272813805,2,1,9296,4959
360760,360760,2022-06-27 21:00:00,f522e557db8b4679,75545312,ios,OpenOfferScreen,PersonalFeedScreen,275048289,2022-06-28,275048289,2,1,3351,5891
360761,360761,2022-06-27 21:00:00,f522e557db8b4679,75545312,ios,OpenOfferScreen,PersonalFeedScreen,275048289,2022-06-28,275048289,2,1,3351,5891
360762,360762,2022-06-27 21:00:00,f522e557db8b4679,75545312,ios,OpenOfferScreen,PersonalFeedScreen,275048289,2022-06-28,275048289,2,1,3351,5891
834751,834751,2022-06-27 21:00:00,2241fefec0494315,398271fb-efcf-4875-bce8-69e550e89b36,android,OpenOfferScreen,MapScreen,272813805,2022-06-28,272813805,2,1,9296,4959
1313747,1313747,2022-06-27 21:00:01,8eb54de70ee64369,92650098,android,OpenOfferScreen,MapScreen,273499093,2022-06-28,273499093,2,1,17941,762
1313748,1313748,2022-06-27 21:00:01,8eb54de70ee64369,92650098,android,OpenOfferScreen,MapScreen,273499093,2022-06-28,273499093,2,1,17941,762
1313749,1313749,2022-06-27 21:00:01,8eb54de70ee64369,92650098,android,OpenOfferScreen,MapScreen,273499093,2022-06-28,273499093,2,1,17941,762

# LightFM

In [15]:
# create train and test sets
#users = set(data['uid_enc'].values)
data_train = pd.DataFrame({})
data_test = pd.DataFrame({})

users = list(data['uid_enc'].value_counts().index)
counter = 0
for user in users:
    counter +=1
    if len(data[data['uid_enc'] == user]) < 3:
        data_train = data_train.append(data[data['uid_enc'] == user][['uid_enc', 'offer_id_enc', 'timestamp']], ignore_index = True)
        #data_test[user] = []
        print(counter)
    else:
        data_train = data_train.append(data[data['uid_enc'] == user].iloc[:-1][['uid_enc', 'offer_id_enc', 'timestamp']], ignore_index = True)
        data_test = data_test.append(data[data['uid_enc'] == user].iloc[-1][['uid_enc', 'offer_id_enc', 'timestamp']], ignore_index = True)

In [14]:
data_train['uid_enc'] = data_train['uid_enc'].astype(int)
data_train['offer_id_enc'] = data_train['offer_id_enc'].astype(int)
#data_train['action'] = data_train['action'].astype(int)

data_test['uid_enc'] = data_test['uid_enc'].astype(int)
data_test['offer_id_enc'] = data_test['offer_id_enc'].astype(int)
#data_test['action'] = data_test['action'].astype(int)

data_train.dropna(inplace=True)
data_test.dropna(inplace=True)

display(data_train.head())
display(data_test.head())

   uid_enc  offer_id_enc           timestamp
0     9113         11277 2022-06-28 03:48:25
1     9113         11277 2022-06-28 03:48:25
2     9113         11277 2022-06-28 03:48:25
3     9113         11277 2022-06-28 03:48:25
4     9113         11277 2022-06-28 03:48:25

   uid_enc  offer_id_enc           timestamp
0     9113          4697 2022-06-30 20:56:55
1     9546         24443 2022-06-30 20:56:13
2     5307          3470 2022-06-30 20:46:59
3      581         13272 2022-06-30 19:58:46
4     5672          9078 2022-06-28 12:02:53

In [16]:
data_train['action'] = 1
data_test['action'] = 1
train_grouped = data_train.groupby(by=['uid_enc', 'offer_id_enc']).count().reset_index()
test_grouped = data_test.groupby(by=['uid_enc', 'offer_id_enc']).count().reset_index()
train_grouped

        uid_enc  offer_id_enc  timestamp  action
0             0             0          9       9
1             0            98         10      10
2             0           169          4       4
3             0           305          3       3
4             0           310          3       3
...         ...           ...        ...     ...
463874    41947         43848         11      11
463875    41948         43921          3       3
463876    41948         44367          3       3
463877    41949         44033          8       8
463878    41950         44256          9       9

[463879 rows x 4 columns]

In [17]:
# create sparse matrices
csr_user_item_train = csr_matrix((train_grouped['action'], (train_grouped['uid_enc'], train_grouped['offer_id_enc'])))
csr_user_item_train[:10, :10].toarray()

array([[ 9,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 3,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 2,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 2,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 3,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [15,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 3,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 5,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 5,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 8,  0,  0,  0,  0,  0,  0,  0,  0,  0]])

In [19]:
# make test and train datasets
train_users = set(data_train['uid_enc'].values)
train_items = set(data_train['offer_id_enc'].values)
#print(train_users)
print(len(train_users))

data_test = data_test[(data_test['uid_enc'].isin(train_users)) & 
                      (data_test['offer_id_enc'].isin(train_items))]

# make test dict
test_dict = {}
for user_id in data_test['uid_enc'].drop_duplicates().values:
    test_dict[user_id] = list(data_test[data_test['uid_enc'] == user_id]['offer_id_enc'])

41951

In [20]:
data_train

         uid_enc  offer_id_enc           timestamp  action
0           9113         11277 2022-06-28 03:48:25       1
1           9113         11277 2022-06-28 03:48:25       1
2           9113         11277 2022-06-28 03:48:25       1
3           9113         11277 2022-06-28 03:48:25       1
4           9113         11277 2022-06-28 03:48:25       1
...          ...           ...                 ...     ...
1934236    25328         33918 2022-06-30 17:48:33       1
1934237    25328         33918 2022-06-30 17:48:33       1
1934238    25328         33918 2022-06-30 17:48:33       1
1934239    25328          2883 2022-06-30 17:51:46       1
1934240    25328          2883 2022-06-30 17:51:46       1

[1934241 rows x 4 columns]

In [21]:
# instantiate and train the model
model = LightFM(loss='warp', no_components=70)
model.fit(csr_user_item_train, epochs=100, num_threads=7, verbose=True) # verbose

Epoch: 100%|██████████| 100/100 [01:49<00:00,  1.10s/it]

In [23]:
train_items = set(data_train['offer_id_enc'].values)
all_items = list(train_items)
#all_items = data['id_enc'].values
def get_predictions(user_id, topk=100):
    preds = model.predict(user_id, all_items)
    inds = np.argsort(preds)[::-1]
    return inds[:topk]

preds = {}

for user_id in data_test['uid_enc'].drop_duplicates().values:
    pred_user = get_predictions(int(user_id), topk=10)
    preds[user_id] = pred_user.tolist()

### Evaluate LightFM

In [40]:
def calculate_hit(y_true, y_score):
    """
        INPUT:
        y_true - list of true test values for one user
        y_score - list of predictions values foro one user
        OUTPUT:
        ans - hit :)
    """
    #print(int(y_true[0]), y_score)
    if int(y_true[0]) in y_score:
        return 1
    else:
        return 0

In [41]:
hit_fin = 0
for ind, val in test_dict.items():
    #print(val, preds[ind])
    hit_fin += calculate_hit(val, preds[ind])
    
hit_fin /= len(test_dict)

In [43]:
print("ОТВЕТ LightFM:", hit_fin)

ОТВЕТ LightFM: 0.5707985697258641

In [37]:
"""from sklearn.utils import column_or_1d
from sklearn.utils.multiclass import type_of_target

def precision_at_k(y_true, y_score, k):
    """
        INPUT:
        y_true - list of true test values for one user
        y_score - list of predictions values foro one user
        k - level of precision
        OUTPUT:
        ans - precision at k :)
    """
    ans = 0
    counter = 0
    for row in y_true:
        counter += 1
        if counter > k:
            return ans
        if row in y_score:
            ans += 1 / k
    return ans

prec_fin = 0
for ind, val in test_dict.items():
    #print(val,  preds[ind])
    prec_fin += precision_at_k(val, preds[ind], 5)
    
prec_fin /= len(test_dict)"""

In [39]:
###prec_fin

# SASRec

In [ ]:
# create .txt file for input to model
data[['offer_id_enc',	'uid_enc']].to_csv('out.txt', sep="\t", header=False, index=False)

In [ ]:
# create special data format for SAS
dataS = SASRecDataSet(filename='out.txt', col_sep='\t')
# split into train, test and validation
dataS.split()

In [ ]:
"""def data_partition_with_time(dataS):
    # assume user/item index starting from 1
    """ 
        нужно изменить user_train, user_valid, user_test
    """
    f = open(dataS.filename, "r")
    for line in f:
        u, i = line.rstrip().split(dataS.col_sep)
        u = int(u)
        i = int(i)
        dataS.usernum = max(u, dataS.usernum)
        dataS.itemnum = max(i, dataS.itemnum)
        dataS.User[u].append(i)

    del_ind = 1600000
    data_train = data.iloc[:del_ind, :]
    data_test = data.iloc[del_ind:, :]

    train_users = set(data_train['uid_enc'].values)
    train_items = set(data_train['offer_id_enc'].values)
    data_test = data_test[(data_test['uid_enc'].isin(train_users)) & 
                          (data_test['offer_id_enc'].isin(train_items))]

    for user in train_users:
        if data[data['uid_enc'] == user]['action'].iloc[0] < 3:
            dataS.user_train[user] = dataS.User[user]
            dataS.user_valid[user] = []
            dataS.user_test[user] = []
        else:
            dataS.user_train[user] = data.User[user][:-2]
            dataS.user_valid[user] = []
            dataS.user_valid[user].append(data.User[user][-2])
            dataS.user_test[user] = []
            dataS.user_test[user].append(data.User[user][-1])"""

In [ ]:
# model variables
num_epochs = 5
batch_size = 160
RANDOM_SEED = 100  # Set None for non-deterministic result

lr = 0.001             # learning rate
maxlen = 50            # maximum sequence length for each user
num_blocks = 2         # number of transformer blocks
hidden_units = 10000     # number of units in the attention calculation
num_heads = 1          # number of attention heads
dropout_rate = 0.1     # dropout rate
l2_emb = 0.0           # L2 regularization coefficient
num_neg_test = 20000     # number of negative examples per positive example

In [ ]:
# sample negative examples
sampler = WarpSampler(dataS.user_train, dataS.usernum, dataS.itemnum, batch_size=batch_size, maxlen=maxlen, n_workers=3)

In [ ]:
model = SASREC(item_num=dataS.itemnum,
               seq_max_len=maxlen,
               num_blocks=num_blocks,
               embedding_dim=hidden_units,
               attention_dim=hidden_units,
               attention_num_heads=num_heads,
               dropout_rate=dropout_rate,
               conv_dims = [100, 100],
               l2_reg=l2_emb,
               num_neg_test=num_neg_test)

In [ ]:
with Timer() as train_time:
    t_test = model.train(dataS, sampler, num_epochs=num_epochs, batch_size=batch_size, lr=lr, val_epoch=6)

epoch: 5, test (NDCG@10: 0.8581872261916548, HR@10: 0.8692728036990333)

In [ ]:
import random
from tqdm import tqdm

def get_predictions(data):
    """
        Модифицированный метод evaluation класса SASREC,
        главный результат - получаем предсказания для всех пользователей из датасета
    """
    usernum = data.usernum # max № of user
    itemnum = data.itemnum # max № of item
    train = data.user_train
    valid = data.user_valid
    test = data.user_test

    pred_dict = {}
    all_inputs = {}
    
    # насэмплим рандомных 10000 пользователей (или меньше, если их разнообразие небольшое:))
    if usernum > 10000:
        users = random.sample(range(1, usernum + 1), 10000)
    else:
        users = range(1, usernum + 1)
    
    # для каждого пользователя делаем оценку
    for u in tqdm(users, ncols=70, leave=False, unit="b"):

        if len(train[u]) < 1 or len(test[u]) < 1: # если для текущего пользователя нет ничего в train или test => continue
            continue
        # для input_seq
        seq = np.zeros([model.seq_max_len], dtype=np.int32)
        idx = model.seq_max_len - 1
        seq[idx] = valid[u][0]
        idx -= 1
        for i in reversed(train[u]): 
            seq[idx] = i
            idx -= 1
            if idx == -1: # если нет в train и valid => break
                break
        # для candidate
        rated = set(train[u]) # то, что оценил пользователь, из train'a
        rated.add(0)
        item_idx = [test[u][0]] # первым в последовательность помещаем тык из теста
        for _ in range(model.num_neg_test): # размер последовательностей получается фиксированный, задаётся в параметрах модели при инициализации
                                            # https://github.com/microsoft/recommenders/blob/main/examples/00_quick_start/sasrec_amazon.ipynb
            t = np.random.randint(1, itemnum + 1)
            while t in rated:
                t = np.random.randint(1, itemnum + 1) # генерим рандомно (?)
            item_idx.append(t)

        inputs = {}
        inputs["user"] = np.expand_dims(np.array([u]), axis=-1) # просто номер пользователя
        inputs["input_seq"] = np.array([seq]) # входная последовательность что тыкнул пользователь - ИЗ TRAIN И VALID!
        inputs["candidate"] = np.array([item_idx]) # объявки, для которых будем вычислять логиты
        all_inputs[inputs["user"][0][0]] = inputs # словарик для всех inputs

        # добавляем каждого пользователя в словарик предиктов
        pred_dict[inputs["user"][0][0]] = model.predict(inputs)

    return pred_dict, all_inputs

In [ ]:
pred_dict, inputs = get_predictions(dataS)

In [ ]:
# нужно связать значения логитов и кандидатов, выбрать самые вероятные значения и проверить, были ли они в тесте
# сразу расчёт precision@k
k = 5
fin_prec = 0
for key in pred_dict.keys():
  tmp = np.stack((pred_dict[key][0], inputs[key]['candidate'][0]), axis=-1)
  tmp = tmp[tmp[:, 0].argsort()] # сортировка по вероятностям (логитам)
  topk = tmp[-k:, 1].astype(int)
  # проверим, есть ли этот топk в тесте
  tmp_prec = 0
  for val in topk:
    if val in dataS.user_test[key]:
      tmp_prec += 1/k
  fin_prec += tmp_prec

fin_prec /= len(pred_dict.keys())
print("ОТВЕТ", fin_prec)

ОТВЕТ 0.19084692267230316